cve-monitor.json
{
  "name": "Security Automation - CVE Monitor & Nmap Scanner",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * *"
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [250, 300],
      "notes": "매일 오전 9시 실행"
    },
    {
      "parameters": {
        "url": "https://services.nvd.nist.gov/rest/json/cves/2.0",
        "authentication": "none",
        "options": {
          "queryParameters": {
            "parameters": [
              {
                "name": "resultsPerPage",
                "value": "100"
              },
              {
                "name": "pubStartDate",
                "value": "={{ $now.minus(1, 'days').toFormat('yyyy-MM-dd\\'T\\'00:00:00') }}"
              },
              {
                "name": "pubEndDate",
                "value": "={{ $now.toFormat('yyyy-MM-dd\\'T\\'23:59:59') }}"
              }
            ]
          }
        }
      },
      "id": "nvd-api",
      "name": "Fetch CVE from NVD",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [450, 200],
      "notes": "NVD API에서 최근 24시간 CVE 조회"
    },
    {
      "parameters": {
        "functionCode": "// parse-cve.js 로직 사용\nconst nvdData = $input.first().json;\n\n// 관심 제품 목록\nconst targetProducts = [\n  'apache',\n  'nginx', \n  'openssl',\n  'jenkins',\n  'docker',\n  'kubernetes'\n];\n\n// parse-cve.js의 함수들을 여기에 포함 (실제 사용 시 복사)\n// ... (parse-cve.js 코드 복사) ...\n\nconst result = analyzeCVEData(nvdData, targetProducts);\n\nif (!result.success) {\n  throw new Error(`CVE 분석 실패: ${result.error}`);\n}\n\nreturn {\n  json: {\n    statistics: result.statistics,\n    critical_cves: result.grouped.critical,\n    high_cves: result.grouped.high,\n    slack_message: result.slack_message,\n    immediate_action: result.immediate_action,\n    timestamp: result.analyzed_at\n  }\n};"
      },
      "id": "parse-cve",
      "name": "Parse CVE Data",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [650, 200],
      "notes": "parse-cve.js 로직 실행"
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.statistics.critical }}",
              "operation": "larger",
              "value2": 0
            }
          ]
        }
      },
      "id": "check-critical",
      "name": "Critical CVE 존재?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [850, 200],
      "notes": "CRITICAL CVE가 있는 경우만 알림"
    },
    {
      "parameters": {
        "command": "nmap -sV -sC -oX - {{ $json.target_ip }}",
        "additionalFields": {}
      },
      "id": "nmap-scan",
      "name": "Execute Nmap Scan",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [450, 400],
      "notes": "타겟 IP에 Nmap 스캔 실행"
    },
    {
      "parameters": {
        "functionCode": "// parse-nmap.js 로직 사용\nconst nmapXML = $input.first().json.stdout;\n\n// parse-nmap.js의 함수들을 여기에 포함 (실제 사용 시 복사)\n// ... (parse-nmap.js 코드 복사) ...\n\nconst result = parseNmapResult(nmapXML);\n\nif (!result.success) {\n  throw new Error(`Nmap 파싱 실패: ${result.error}`);\n}\n\nreturn {\n  json: {\n    statistics: result.statistics,\n    critical_hosts: result.critical_hosts,\n    slack_message: result.slack_message,\n    all_hosts: result.hosts,\n    timestamp: result.scan_time\n  }\n};"
      },
      "id": "parse-nmap",
      "name": "Parse Nmap Results",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [650, 400],
      "notes": "parse-nmap.js 로직 실행"
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.statistics.critical_ports }}",
              "operation": "larger",
              "value2": 0
            }
          ]
        }
      },
      "id": "check-critical-ports",
      "name": "Critical 포트 존재?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [850, 400],
      "notes": "위험 포트가 있는 경우만 알림"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "channel": "#security-alerts",
        "text": "={{ $json.slack_message }}",
        "attachments": [],
        "otherOptions": {
          "mrkdwn": true
        }
      },
      "id": "slack-cve-alert",
      "name": "Send Slack Alert (CVE)",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.1,
      "position": [1050, 100],
      "credentials": {
        "slackOAuth2Api": {
          "id": "1",
          "name": "Slack OAuth2 API"
        }
      },
      "notes": "Slack으로 CVE 알림 전송"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "channel": "#security-alerts",
        "text": "={{ $json.slack_message }}",
        "attachments": [],
        "otherOptions": {
          "mrkdwn": true
        }
      },
      "id": "slack-nmap-alert",
      "name": "Send Slack Alert (Nmap)",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.1,
      "position": [1050, 300],
      "credentials": {
        "slackOAuth2Api": {
          "id": "1",
          "name": "Slack OAuth2 API"
        }
      },
      "notes": "Slack으로 Nmap 결과 전송"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO cve_scans (scan_date, critical_count, high_count, data) VALUES (NOW(), {{ $json.statistics.critical }}, {{ $json.statistics.high }}, '{{ JSON.stringify($json) }}')",
        "options": {}
      },
      "id": "save-cve-db",
      "name": "Save to Database (CVE)",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [1050, 200],
      "credentials": {
        "postgres": {
          "id": "2",
          "name": "PostgreSQL"
        }
      },
      "notes": "CVE 스캔 결과를 DB에 저장"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO nmap_scans (scan_date, hosts_count, critical_ports, data) VALUES (NOW(), {{ $json.statistics.total_hosts }}, {{ $json.statistics.critical_ports }}, '{{ JSON.stringify($json) }}')",
        "options": {}
      },
      "id": "save-nmap-db",
      "name": "Save to Database (Nmap)",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [1050, 400],
      "credentials": {
        "postgres": {
          "id": "2",
          "name": "PostgreSQL"
        }
      },
      "notes": "Nmap 스캔 결과를 DB에 저장"
    },
    {
      "parameters": {
        "fromEmail": "security-automation@company.com",
        "toEmail": "security-team@company.com",
        "subject": "[CRITICAL] 새로운 CVE 탐지 - {{ $json.statistics.critical }}개",
        "emailFormat": "html",
        "text": "={{ $json.slack_message }}",
        "options": {}
      },
      "id": "email-cve-alert",
      "name": "Send Email Alert (CVE)",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [1250, 100],
      "credentials": {
        "smtp": {
          "id": "3",
          "name": "SMTP"
        }
      },
      "notes": "CRITICAL CVE 발견 시 이메일 발송"
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "upload",
        "folderId": {
          "__rl": true,
          "value": "root",
          "mode": "list"
        },
        "name": "nmap_scan_{{ $now.toFormat('yyyyMMdd_HHmmss') }}.json",
        "options": {
          "mimeType": "application/json"
        }
      },
      "id": "save-gdrive",
      "name": "Save to Google Drive",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [1250, 400],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "4",
          "name": "Google Drive OAuth2 API"
        }
      },
      "notes": "Nmap 결과를 Google Drive에 백업"
    },
    {
      "parameters": {
        "jsCode": "// 스캔 통계 집계\nconst cveStats = $('Parse CVE Data').first().json.statistics;\nconst nmapStats = $('Parse Nmap Results').first().json.statistics;\n\nconst summary = {\n  date: new Date().toISOString(),\n  cve_summary: {\n    total: cveStats.total_cves,\n    critical: cveStats.critical,\n    high: cveStats.high,\n    with_exploit: cveStats.with_exploit\n  },\n  nmap_summary: {\n    hosts: nmapStats.total_hosts,\n    open_ports: nmapStats.open_ports,\n    critical_ports: nmapStats.critical_ports\n  },\n  action_required: cveStats.critical > 0 || nmapStats.critical_ports > 0\n};\n\nreturn { json: summary };"
      },
      "id": "merge-results",
      "name": "Merge & Summarize",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1050, 500],
      "notes": "CVE와 Nmap 결과를 통합 요약"
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Fetch CVE from NVD",
            "type": "main",
            "index": 0
          },
          {
            "node": "Execute Nmap Scan",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch CVE from NVD": {
      "main": [
        [
          {
            "node": "Parse CVE Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse CVE Data": {
      "main": [
        [
          {
            "node": "Critical CVE 존재?",
            "type": "main",
            "index": 0
          },
          {
            "node": "Save to Database (CVE)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Critical CVE 존재?": {
      "main": [
        [
          {
            "node": "Send Slack Alert (CVE)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Nmap Scan": {
      "main": [
        [
          {
            "node": "Parse Nmap Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Nmap Results": {
      "main": [
        [
          {
            "node": "Critical 포트 존재?",
            "type": "main",
            "index": 0
          },
          {
            "node": "Save to Database (Nmap)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Critical 포트 존재?": {
      "main": [
        [
          {
            "node": "Send Slack Alert (Nmap)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Slack Alert (CVE)": {
      "main": [
        [
          {
            "node": "Send Email Alert (CVE)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Slack Alert (Nmap)": {
      "main": [
        [
          {
            "node": "Save to Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save to Database (CVE)": {
      "main": [
        [
          {
            "node": "Merge & Summarize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save to Database (Nmap)": {
      "main": [
        [
          {
            "node": "Merge & Summarize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "security",
      "id": "1"
    },
    {
      "name": "automation",
      "id": "2"
    }
  ],
  "pinData": {},
  "versionId": "1"
}
